<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}-CodeCampus</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
    </header>

    <nav>
      <a href="/">Start</a>
      <a href="/login">Login</a>
    </nav>

    <main>

      {{#if flash}}
        <p class="flash {{flash.type}}">{{flash.message}}
          <span class="close-flash">X</span></p>
      {{/if}}

      {{{body}}}

    </main>

    <footer>
      Footer text here...
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>